body{
    background-color: rgb(34,94,94);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;justify-content: center;
    align-items: center;flex-direction: column;
    gap:10px;
}
.gameBoard{
    border: 0.1rem solid snow;
    display: grid;width: 300px;height: 300px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.box{
    border: 0.05rem solid rgba(255, 245, 245, 0.526);
    font-size: 3rem;
    display: flex;justify-content: center;
    align-items: center;
}

.displayer{
    color:white;
    padding: .5rem;
    font-size: 1.5rem;
}
input,button{
    -webkit-appearance: none;
    appearance: none;
    padding: 0;
    margin: 0;height: 2rem;
    width: 12rem;
    box-sizing: border-box;
    font-size: 100%;
    font-family: inherit;
    display: block;/* this is fing important*/
    border-radius: 3px;
}
button{
    width: fit-content;
    padding: 5px;
    &:active{
        box-shadow: -1px -1px 5px 5px rgb(59, 146, 46); 
    }
    background-color: red;
}
