body{
    background-image: url(https://www.businessinsider.in/_next/image?url=https%3A%2F%2Fstaticbiassets.in%2Fthumb%2Fmsid-105128584%2Cwidth-700%2Cresizemode-4%2Cimgsize-44884%2Fdiwali.jpg&w=1920&q=75);
    background-repeat: no-repeat;
    background-size:cover;
}