body{
    background-color: rgb(34,94,94);
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;justify-content: center;
    align-items: center;flex-direction: column;

}
.gameBoard{
    border: 0.1rem solid snow;
    display: grid;width: 300px;height: 300px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.box{
    border: 0.05rem solid rgba(255, 245, 245, 0.526);
    font-size: 3rem;
    display: flex;justify-content: center;
    align-items: center;
}

.displayer{
    color:white;
    padding: .5rem;
    font-size: 1.5rem;
}